<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntitiesCompras_natu_rpt" connectionString="metadata=res://*/ModelCompras_Natu_Rpt.csdl|res://*/ModelCompras_Natu_Rpt.ssdl|res://*/ModelCompras_Natu_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=SA;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_Rpt_Naturisa" connectionString="metadata=res://*/ModelCXP_report_Naturisa.csdl|res://*/ModelCXP_report_Naturisa.ssdl|res://*/ModelCXP_report_Naturisa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>