<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSectionsDBERP_CAH>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSectionsDBERP_CAH>
  <connectionStrings>
    <add name="EntitiesActivoFijo" connectionString="metadata=res://*/ModelActivoFijo.csdl|res://*/ModelActivoFijo.ssdl|res://*/ModelActivoFijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBanco" connectionString="metadata=res://*/ModelBancos.csdl|res://*/ModelBancos.ssdl|res://*/ModelBancos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja" connectionString="metadata=res://*/ModelCaja.csdl|res://*/ModelCaja.ssdl|res://*/ModelCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesDBConta" connectionString="metadata=res://*/ModelConta.csdl|res://*/ModelConta.ssdl|res://*/ModelConta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesImportacion" connectionString="metadata=res://*/ModelImportacion.csdl|res://*/ModelImportacion.ssdl|res://*/ModelImportacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario" connectionString="metadata=res://*/ModelInventario.csdl|res://*/ModelInventario.ssdl|res://*/ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPresupuesto" connectionString="metadata=res://*/ModelPreC:\ERP_LOCAL\Core.Erp.Data\App.Configsupuesto.csdl|res://*/ModelPresupuesto.ssdl|res://*/ModelPresupuesto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion" connectionString="metadata=res://*/ModelProduccion.csdl|res://*/ModelProduccion.ssdl|res://*/ModelProduccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesSeguAcceso" connectionString="metadata=res://*/ModelSeguAcceso.csdl|res://*/ModelSeguAcceso.ssdl|res://*/ModelSeguAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Cidersus" connectionString="metadata=res://*/ModelProduccion_cidersus.csdl|res://*/ModelProduccion_cidersus.ssdl|res://*/ModelProduccion_cidersus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRoles" connectionString="metadata=res://*/ModelRoles.csdl|res://*/ModelRoles.ssdl|res://*/ModelRoles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesGeneral" connectionString="metadata=res://*/ModelGeneral.csdl|res://*/ModelGeneral.ssdl|res://*/ModelGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESARROLLO\MSSQLSERVER_2014;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ActivoFijo" connectionString="metadata=res://*/Model_ActivoFijo.csdl|res://*/Model_ActivoFijo.ssdl|res://*/Model_ActivoFijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_FJ_Rpt" connectionString="metadata=res://*/ModelInventario_FJ_Rpt.csdl|res://*/ModelInventario_FJ_Rpt.ssdl|res://*/ModelInventario_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Fj" connectionString="metadata=res://*/ModelInventario_Fj.csdl|res://*/ModelInventario_Fj.ssdl|res://*/ModelInventario_Fj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entity_Facturacion_FJ" connectionString="metadata=res://*/Facturacion_FJ.csdl|res://*/Facturacion_FJ.ssdl|res://*/Facturacion_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo_FJ" connectionString="metadata=res://*/ModelActivoFijo_FJ.csdl|res://*/ModelActivoFijo_FJ.ssdl|res://*/ModelActivoFijo_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Grafinpren" connectionString="metadata=res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.csdl|res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.ssdl|res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Academico" connectionString="metadata=res://*/Academico.Model_Academico_Ge.csdl|res://*/Academico.Model_Academico_Ge.ssdl|res://*/Academico.Model_Academico_Ge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras" connectionString="metadata=res://*/ModelCompras.csdl|res://*/ModelCompras.ssdl|res://*/ModelCompras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion" connectionString="metadata=res://*/ModelFacturacion.csdl|res://*/ModelFacturacion.ssdl|res://*/ModelFacturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidad_FJ" connectionString="metadata=res://*/ModelContabilidad_FJ.csdl|res://*/ModelContabilidad_FJ.ssdl|res://*/ModelContabilidad_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar" connectionString="metadata=res://*/ModelCuentasxCobrar.csdl|res://*/ModelCuentasxCobrar.ssdl|res://*/ModelCuentasxCobrar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityRoles_FJ" connectionString="metadata=res://*/ModelRoles_Fj.csdl|res://*/ModelRoles_Fj.ssdl|res://*/ModelRoles_Fj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar_Grafinpren" connectionString="metadata=res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.csdl|res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.ssdl|res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Edehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventarioEdehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_Edehsa" connectionString="metadata=res://*/Compras_Edehsa.ModelCompras_Edehsa.csdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.ssdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa" connectionString="metadata=res://*/Produccion_Edehsa.ModelProduccion_Edehsa.csdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.ssdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesColecturia_CAH_Rpt" connectionString="metadata=res://*/ModelColecturia_CAH_Rpt.csdl|res://*/ModelColecturia_CAH_Rpt.ssdl|res://*/ModelColecturia_CAH_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxPagar" connectionString="metadata=res://*/ModelCuentasxPagar.csdl|res://*/ModelCuentasxPagar.ssdl|res://*/ModelCuentasxPagar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entiti_roles_Graf" connectionString="metadata=res://*/Model_Roles_Graf.csdl|res://*/Model_Roles_Graf.ssdl|res://*/Model_Roles_Graf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_CAH;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_CG" connectionString="metadata=res://*/Inventario_CG.Model_Inventario_CG.csdl|res://*/Inventario_CG.Model_Inventario_CG.ssdl|res://*/Inventario_CG.Model_Inventario_CG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>