<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Core.Erp.Winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> 
    </sectionGroup>
  </configSections>
  <connectionStrings>
        <add name="EntitiesGeneral" connectionString="metadata=res://*/ModelGeneral.csdl|res://*/ModelGeneral.ssdl|res://*/ModelGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesDBConta" connectionString="metadata=res://*/ModelConta.csdl|res://*/ModelConta.ssdl|res://*/ModelConta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesSeguAcceso" connectionString="metadata=res://*/ModelSeguAcceso.csdl|res://*/ModelSeguAcceso.ssdl|res://*/ModelSeguAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBanco" connectionString="metadata=res://*/ModelBancos.csdl|res://*/ModelBancos.ssdl|res://*/ModelBancos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Academico" connectionString="metadata=res://*/Academico.Model_Academico_Ge.csdl|res://*/Academico.Model_Academico_Ge.ssdl|res://*/Academico.Model_Academico_Ge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras" connectionString="metadata=res://*/ModelCompras.csdl|res://*/ModelCompras.ssdl|res://*/ModelCompras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />    <add name="EntitiesActivoFijo" connectionString="metadata=res://*/ModelActivoFijo.csdl|res://*/ModelActivoFijo.ssdl|res://*/ModelActivoFijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRoles" connectionString="metadata=res://*/ModelRoles.csdl|res://*/ModelRoles.ssdl|res://*/ModelRoles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion" connectionString="metadata=res://*/ModelProduccion.csdl|res://*/ModelProduccion.ssdl|res://*/ModelProduccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar" connectionString="metadata=res://*/ModelCuentasxCobrar.csdl|res://*/ModelCuentasxCobrar.ssdl|res://*/ModelCuentasxCobrar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesImportacion" connectionString="metadata=res://*/ModelImportacion.csdl|res://*/ModelImportacion.ssdl|res://*/ModelImportacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario" connectionString="metadata=res://*/ModelInventario.csdl|res://*/ModelInventario.ssdl|res://*/ModelInventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesPresupuesto" connectionString="metadata=res://*/ModelPresupuesto.csdl|res://*/ModelPresupuesto.ssdl|res://*/ModelPresupuesto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Cidersus" connectionString="metadata=res://*/ModelProduccion_cidersus.csdl|res://*/ModelProduccion_cidersus.ssdl|res://*/ModelProduccion_cidersus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;Persist Security Info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja" connectionString="metadata=res://*/ModelCaja.csdl|res://*/ModelCaja.ssdl|res://*/ModelCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_DBERP_GRAF" connectionString="metadata=res://*/ModelInventario_DBERP_GRAF.csdl|res://*/ModelInventario_DBERP_GRAF.ssdl|res://*/ModelInventario_DBERP_GRAF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesConta_General" connectionString="metadata=res://*/ModelGeneralContab.csdl|res://*/ModelGeneralContab.ssdl|res://*/ModelGeneralContab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Rpt_Natu" connectionString="metadata=res://*/ModelInventario_Natu.csdl|res://*/ModelInventario_Natu.ssdl|res://*/ModelInventario_Natu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_natu_rpt" connectionString="metadata=res://*/ModelCompras_Natu_Rpt.csdl|res://*/ModelCompras_Natu_Rpt.ssdl|res://*/ModelCompras_Natu_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_General" connectionString="metadata=res://*/Model_Inventario_General.csdl|res://*/Model_Inventario_General.ssdl|res://*/Model_Inventario_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompra_reporte_Ge" connectionString="metadata=res://*/ModelCompra_Report_Ge.csdl|res://*/ModelCompra_Report_Ge.ssdl|res://*/ModelCompra_Report_Ge.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_Rpt_Naturisa" connectionString="metadata=res://*/ModelCXP_report_Naturisa.csdl|res://*/ModelCXP_report_Naturisa.ssdl|res://*/ModelCXP_report_Naturisa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Roles_Fj_Rpt" connectionString="metadata=res://*/ModelRoles_Fj_Rpt.csdl|res://*/ModelRoles_Fj_Rpt.ssdl|res://*/ModelRoles_Fj_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCidersus_reporte_Gene" connectionString="metadata=res://*/ModelCidersus_Reportes_General.csdl|res://*/ModelCidersus_Reportes_General.ssdl|res://*/ModelCidersus_Reportes_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRolesRptGeneral" connectionString="metadata=res://*/ModelRolesReportesGeneral.csdl|res://*/ModelRolesReportesGeneral.ssdl|res://*/ModelRolesReportesGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Reporte_Ge" connectionString="metadata=res://*/ModelBancos_Reportes_General.csdl|res://*/ModelBancos_Reportes_General.ssdl|res://*/ModelBancos_Reportes_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja_Gen" connectionString="metadata=res://*/ModelCaja_Reportes_General.csdl|res://*/ModelCaja_Reportes_General.ssdl|res://*/ModelCaja_Reportes_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Seguridad_Acceso" connectionString="metadata=res://*/ModelSeguridadYAcceso.csdl|res://*/ModelSeguridadYAcceso.ssdl|res://*/ModelSeguridadYAcceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_CuentasxCobrar" connectionString="metadata=res://*/Model_CuentasxCobrar_Reportes.csdl|res://*/Model_CuentasxCobrar_Reportes.ssdl|res://*/Model_CuentasxCobrar_Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_ActivoFijo_Reportes" connectionString="metadata=res://*/Model_ActivoFijo_Reportes.csdl|res://*/Model_ActivoFijo_Reportes.ssdl|res://*/Model_ActivoFijo_Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidadRptGeneral" connectionString="metadata=res://*/ModelContabilidad_ReportesGeneral.csdl|res://*/ModelContabilidad_ReportesGeneral.ssdl|res://*/ModelContabilidad_ReportesGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Reportes" connectionString="metadata=res://*/Model_Facturacion_Reportes.csdl|res://*/Model_Facturacion_Reportes.ssdl|res://*/Model_Facturacion_Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Academico_Reporte" connectionString="metadata=res://*/Model_Academico_Reportes.csdl|res://*/Model_Academico_Reportes.ssdl|res://*/Model_Academico_Reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Fj" connectionString="metadata=res://*/ModelInventario_Fj.csdl|res://*/ModelInventario_Fj.ssdl|res://*/ModelInventario_Fj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_FJ_Rpt" connectionString="metadata=res://*/ModelInventario_FJ_Rpt.csdl|res://*/ModelInventario_FJ_Rpt.ssdl|res://*/ModelInventario_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelCompra_RptEntities" connectionString="metadata=res://*/ModelCompra_FJ_Rpt.csdl|res://*/ModelCompra_FJ_Rpt.ssdl|res://*/ModelCompra_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCxP_FJ" connectionString="metadata=res://*/ModelCxP_FJ.csdl|res://*/ModelCxP_FJ.ssdl|res://*/ModelCxP_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityRoles_FJ" connectionString="metadata=res://*/ModelRoles_Fj.csdl|res://*/ModelRoles_Fj.ssdl|res://*/ModelRoles_Fj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCaja_General" connectionString="metadata=res://*/ModelCaja_Rpt_Geneal.csdl|res://*/ModelCaja_Rpt_Geneal.ssdl|res://*/ModelCaja_Rpt_Geneal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entity_Facturacion_FJ" connectionString="metadata=res://*/Facturacion_FJ.csdl|res://*/Facturacion_FJ.ssdl|res://*/Facturacion_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_FJ_Rpt" connectionString="metadata=res://*/ModelFacturacion_FJ_Rpt.csdl|res://*/ModelFacturacion_FJ_Rpt.ssdl|res://*/ModelFacturacion_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo_FJ" connectionString="metadata=res://*/ModelActivoFijo_FJ.csdl|res://*/ModelActivoFijo_FJ.ssdl|res://*/ModelActivoFijo_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidad_FJ" connectionString="metadata=res://*/ModelContabilidad_FJ.csdl|res://*/ModelContabilidad_FJ.ssdl|res://*/ModelContabilidad_FJ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Grafinpren" connectionString="metadata=res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.csdl|res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.ssdl|res://*/Facturacion_Grafinpren.ModelFacturacion_Grafinpren.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_Rpt_GRAF" connectionString="metadata=res://*/ModelFacturacion_GRAF_Rpt.csdl|res://*/ModelFacturacion_GRAF_Rpt.ssdl|res://*/ModelFacturacion_GRAF_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo_Reporte_FJ" connectionString="metadata=res://*/ModelActivoFijo_reporte.csdl|res://*/ModelActivoFijo_reporte.ssdl|res://*/ModelActivoFijo_reporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentas_x_Cobrar_Grafinpren" connectionString="metadata=res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.csdl|res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.ssdl|res://*/CuentasxCobrar_Grafinpren.ModelCuentasxCobrar_Grafinpren.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxCobrar_GRAF_Rpt" connectionString="metadata=res://*/ModelCuentasxCobrar_GRAF_Rpt.csdl|res://*/ModelCuentasxCobrar_GRAF_Rpt.ssdl|res://*/ModelCuentasxCobrar_GRAF_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventario_Edehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesInventarioEdehsa" connectionString="metadata=res://*/Inventario_Edehsa.ModelInventario_Edehsa.csdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.ssdl|res://*/Inventario_Edehsa.ModelInventario_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa_Rpt" connectionString="metadata=res://*/ModelProduccion_Edehsa_Rpt.csdl|res://*/ModelProduccion_Edehsa_Rpt.ssdl|res://*/ModelProduccion_Edehsa_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_Edehsa" connectionString="metadata=res://*/Compras_Edehsa.ModelCompras_Edehsa.csdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.ssdl|res://*/Compras_Edehsa.ModelCompras_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesProduccion_Edehsa" connectionString="metadata=res://*/Produccion_Edehsa.ModelProduccion_Edehsa.csdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.ssdl|res://*/Produccion_Edehsa.ModelProduccion_Edehsa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCuentasxCobrar_Natu_rpt" connectionString="metadata=res://*/ModelCuentasxCobrar_Natu_rpt.csdl|res://*/ModelCuentasxCobrar_Natu_rpt.ssdl|res://*/ModelCuentasxCobrar_Natu_rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesContabilidad_Natu_Rpt" connectionString="metadata=res://*/ModelContabilidad_Natu_Rpt.csdl|res://*/ModelContabilidad_Natu_Rpt.ssdl|res://*/ModelContabilidad_Natu_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Roles_DBERP_GRAF" connectionString="metadata=res://*/ModelRoles_DBERP_GRAF.csdl|res://*/ModelRoles_DBERP_GRAF.ssdl|res://*/ModelRoles_DBERP_GRAF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_naturisa_rpt" connectionString="metadata=res://*/ModelBancos_naturisa_rpt.csdl|res://*/ModelBancos_naturisa_rpt.ssdl|res://*/ModelBancos_naturisa_rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Rpt_Fj" connectionString="metadata=res://*/ModelBancos.csdl|res://*/ModelBancos.ssdl|res://*/ModelBancos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Compras_CAH" connectionString="metadata=res://*/Model_Compras_CAH.csdl|res://*/Model_Compras_CAH.ssdl|res://*/Model_Compras_CAH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesColecturia_CAH_Rpt" connectionString="metadata=res://*/ModelColecturia_CAH_Rpt.csdl|res://*/ModelColecturia_CAH_Rpt.ssdl|res://*/ModelColecturia_CAH_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Contabilidad_CAH" connectionString="metadata=res://*/Model_Contabilidad_CAH.csdl|res://*/Model_Contabilidad_CAH.ssdl|res://*/Model_Contabilidad_CAH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_FJ" connectionString="metadata=res://*/ModelCompras_FJ_Rpt.csdl|res://*/ModelCompras_FJ_Rpt.ssdl|res://*/ModelCompras_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Core.Erp.Winform.Properties.Settings.DBERP_GRAFConnectionString" connectionString="Data Source=10.100.5.140;Initial Catalog=DBERP_GRAF;User ID=sa;Password=admin*2016" providerName="System.Data.SqlClient" />
    <add name="EntitiesCuentasxPagar" connectionString="metadata=res://*/ModelCuentasxPagar.csdl|res://*/ModelCuentasxPagar.ssdl|res://*/ModelCuentasxPagar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCXP_General" connectionString="metadata=res://*/ModelCXP_Reportes_General.csdl|res://*/ModelCXP_Reportes_General.ssdl|res://*/ModelCXP_Reportes_General.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;persist security info=True;user id=SA;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion" connectionString="metadata=res://*/ModelFacturacion.csdl|res://*/ModelFacturacion.ssdl|res://*/ModelFacturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entiti_roles_Graf" connectionString="metadata=res://*/Model_Roles_Graf.csdl|res://*/Model_Roles_Graf.ssdl|res://*/Model_Roles_Graf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.5.140;initial catalog=DBERP_GRAF;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <applicationSettings>
    <Core.Erp.Winform.Properties.Settings>
      <setting name="ConfRegional" serializeAs="String">
        <value>es-EC</value>
      </setting>
    </Core.Erp.Winform.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>