<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EntitiesProduccion_Edehsa_Rpt" connectionString="metadata=res://*/ModelProduccion_Edehsa_Rpt.csdl|res://*/ModelProduccion_Edehsa_Rpt.ssdl|res://*/ModelProduccion_Edehsa_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.40;initial catalog=DBERP_EDEHSA_PRODUCCION;persist security info=True;user id=sa;password=admin*2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>