<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Cus.Erp.Reports.FJ.Properties.Settings.DBERP_FJ_PRODUCCIONConnectionString" connectionString="Data Source=192.168.0.254;Initial Catalog=DBERP_FJ_PRODUCCION;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="EntitiesInventario_FJ_Rpt" connectionString="metadata=res://*/ModelInventario_FJ_Rpt.csdl|res://*/ModelInventario_FJ_Rpt.ssdl|res://*/ModelInventario_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERP_FJ_PRODUCCION;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCompras_FJ" connectionString="metadata=res://*/ModelCompras_FJ_Rpt.csdl|res://*/ModelCompras_FJ_Rpt.ssdl|res://*/ModelCompras_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesCxP_FJ" connectionString="metadata=res://*/ModelCxP_FJ_Rpt.csdl|res://*/ModelCxP_FJ_Rpt.ssdl|res://*/ModelCxP_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelActivo_Fijo_Fj" connectionString="metadata=res://*/ModelActivo_Fijo_Fj.csdl|res://*/ModelActivo_Fijo_Fj.ssdl|res://*/ModelActivo_Fijo_Fj.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo_FJ" connectionString="metadata=res://*/ModelActivoFijo_FJ_Rpt.csdl|res://*/ModelActivoFijo_FJ_Rpt.ssdl|res://*/ModelActivoFijo_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesActivoFijo_Reporte_FJ" connectionString="metadata=res://*/ModelActivoFijo_reporte.csdl|res://*/ModelActivoFijo_reporte.ssdl|res://*/ModelActivoFijo_reporte.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesFacturacion_FJ_Rpt" connectionString="metadata=res://*/ModelFacturacion_FJ_Rpt.csdl|res://*/ModelFacturacion_FJ_Rpt.ssdl|res://*/ModelFacturacion_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Roles_Fj_Rpt" connectionString="metadata=res://*/ModelRoles_Fj_Rpt.csdl|res://*/ModelRoles_Fj_Rpt.ssdl|res://*/ModelRoles_Fj_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESARROLLO\MSSQLSERVER_2014;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesBancos_Rpt_Fj" connectionString="metadata=res://*/ModelBancos.csdl|res://*/ModelBancos.ssdl|res://*/ModelBancos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelCompra_RptEntities" connectionString="metadata=res://*/ModelCompra_FJ_Rpt.csdl|res://*/ModelCompra_FJ_Rpt.ssdl|res://*/ModelCompra_FJ_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.254;initial catalog=DBERP_FJ_PRODUCCION;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>