<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EntitiesColecturia_CAH_Rpt" connectionString="metadata=res://*/ModelColecturia_CAH_Rpt.csdl|res://*/ModelColecturia_CAH_Rpt.ssdl|res://*/ModelColecturia_CAH_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_CAH_PRUEBA;persist security info=True;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Compras_CAH" connectionString="metadata=res://*/Model_Compras_CAH.csdl|res://*/Model_Compras_CAH.ssdl|res://*/Model_Compras_CAH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_CAH_PRUEBA;persist security info=True;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Contabilidad_CAH" connectionString="metadata=res://*/Model_Contabilidad_CAH.csdl|res://*/Model_Contabilidad_CAH.ssdl|res://*/Model_Contabilidad_CAH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_CAH_PRUEBA;persist security info=True;user id=sa;password=admin*2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_Inventario_CAH" connectionString="metadata=res://*/Model_Inventario_CAH.csdl|res://*/Model_Inventario_CAH.ssdl|res://*/Model_Inventario_CAH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.31;initial catalog=DBERPCAH;persist security info=True;user id=sa;password=admin*2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>